In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [2]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [3]:
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [4]:
#Total schools count
school_count= len(school_data_complete["school_name"].unique())
school_count

15

In [5]:
#total students count
student_count= school_data_complete["student_name"].count()

In [6]:
student_count

39170

In [7]:
# total budget 
total_budget= school_data["budget"].sum()
total_budget

24649428

In [8]:
#calculate the average scores

#average maths score
average_maths_scores=school_data_complete["math_score"].mean()
average_maths_scores

78.98537145774827

In [9]:
#average reading scores

average_reading_scores=school_data_complete["reading_score"].mean()

average_reading_scores

81.87784018381414

In [10]:
#overall passing rate

overall_passing_rate = (average_reading_scores+average_maths_scores)/2

overall_passing_rate

80.43160582078121

In [11]:
#percentage pass rate
maths_passing_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
maths_passing_percent= maths_passing_count/float(student_count)* 100
maths_passing_percent

74.9808526933878

In [12]:
#reading passing rate
reading_passing_count = school_data_complete[(school_data_complete["reading_score"] >=70)].count()["student_name"]
reading_passing_percent= reading_passing_count/ float(reading_passing_count) *100
reading_passing_percent

100.0

In [13]:

district_summary = pd.DataFrame({"Total Schools": [school_count],
                                "Total Students": [student_count],
                                "Total Budget": [total_budget],
                                "Average Math Score": [average_maths_scores],
                                "Average Reading Score": [average_reading_scores],
                                "% Passing Math": [maths_passing_percent],
                                "% Passing Reading": [reading_passing_percent],
                                "% Overall Passing Rate": [overall_passing_rate]})

In [14]:

district_summary = district_summary[["Total Schools", "Total Students","Total Budget",
                                    "Average Math Score", "% Passing Math", "% Passing Reading",
                                    "% Overall Passing Rate"]]

In [15]:
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

In [16]:
district_summary.dropna()

,Total Schools,Total Students,Total Budget,Average Math Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.985371,74.980853,100.0,80.431606

In [17]:
#school type
school_type = school_data.set_index(["school_name"])["type"]
school_type.head()

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Name: type, dtype: object

In [18]:
#total school count
total_school_counts = school_data_complete["school_name"].value_counts()
total_school_counts

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [19]:
#total budget and per capita spending
per_school_budget =  school_data_complete.groupby(["school_name"]).mean()["budget"]
per_school_capita= per_school_budget/total_school_counts
per_school_capita

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [23]:
# average test scores
#average maths scores
per_score_maths = school_data_complete.groupby(["school_name"]).mean()["math_score"]
per_score_maths

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [26]:
#average reading scores
per_school_reading = school_data_complete.groupby(["school_name"]).mean()["reading_score"]
per_school_reading

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [30]:
# Calculate the passing scores by creating a filtered data frame
school_passing_math = school_data_complete[(school_data_complete["math_score"] > 70)]
school_passing_math.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635

In [32]:
school_passing_reading = school_data_complete[(school_data_complete["reading_score"] > 70)]
school_passing_reading.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635

In [36]:
per_school_passing_math = school_passing_math.groupby(["school_name"]).count()["student_name"] / total_school_counts * 100
per_school_passing_math

Bailey High School       64.630225
Cabrera High School      89.558665
Figueroa High School     63.750424
Ford High School         65.753925
Griffin High School      89.713896
Hernandez High School    64.746494
Holden High School       90.632319
Huang High School        63.318478
Johnson High School      63.852132
Pena High School         91.683992
Rodriguez High School    64.066017
Shelton High School      89.892107
Thomas High School       90.214067
Wilson High School       90.932983
Wright High School       90.277778
dtype: float64

In [41]:
per_school_passing_reading = school_passing_reading.groupby(["school_name"]).count()["student_name"] / total_school_counts * 100
per_school_passing_reading

Bailey High School       79.300643
Cabrera High School      93.864370
Figueroa High School     78.433367
Ford High School         77.510040
Griffin High School      93.392371
Hernandez High School    78.187702
Holden High School       92.740047
Huang High School        78.813850
Johnson High School      78.281874
Pena High School         92.203742
Rodriguez High School    77.744436
Shelton High School      92.617831
Thomas High School       92.905199
Wilson High School       93.254490
Wright High School       93.444444
dtype: float64

In [43]:
overall_passing_rate = (per_school_passing_math + per_school_passing_reading) / 2
overall_passing_rate

Bailey High School       71.965434
Cabrera High School      91.711518
Figueroa High School     71.091896
Ford High School         71.631982
Griffin High School      91.553134
Hernandez High School    71.467098
Holden High School       91.686183
Huang High School        71.066164
Johnson High School      71.067003
Pena High School         91.943867
Rodriguez High School    70.905226
Shelton High School      91.254969
Thomas High School       91.559633
Wilson High School       92.093736
Wright High School       91.861111
dtype: float64